
html,
body {
  background-color: #853100;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.headerMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background-color: #2516169d;
  z-index: 1000;
}

.headerLeft {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  background-color: transparent;
}

.headerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
  font-size: 23px;
  background-color: transparent;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 41px;
  font-weight: 1000;
  text-transform: uppercase;
  /* Change Padding and Gap to make center Header Nav bigger or smaller */
  gap: 150px;
  padding-left: 20px;
  padding-right: 20px;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.493);
  background-color: transparent;
}

.myronsLogo {
  width: 160px;
}



@media (max-width: 1700px) {
  .headerRight {
    font-size: 18px;
  }

  .headerNav {
    font-size: 28px;
    gap: 70px;
  }
}

@media (max-width: 1200px) {
  .headerLeft {
    margin-left: 20px;
  }

  .headerRight {
    font-size: 15px;
    margin-right: 15px;
  }

  .headerNav {
    font-size: 15px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .myronsLogo {
    width: 100px;
  }
  
}