.font1 {
    display: flex;
    width: 100vw;
    height: 900px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #a72c11;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.527);
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 1000px;
    background-color: #452829;
}

.no {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-top: 200px;
}

.homeBG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBG img{
    position: absolute;
    width: 100vw;
    top: 0;
}