.sectionContBehind{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ba5d57;
    height: 910px;
    margin-top: 1000px;

}

.sectionCont1 {
    display: flex;
    width: 100vw;
    height: 900px;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #452829;
}

.sectionCont2 {
    display: flex;
    width: 100vw;
    height: 900px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #a72c11;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.527);
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    background-color: #452829;
}

.no {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    /* Change margin-top for section1 content on homepage */
    margin-top: 0px;
}

.sect1Head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1450px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.349);
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 150px;
}

.headerT {
    margin: 0 auto;
}

.paraT {
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #a72c11;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.76);
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-shadow:
    3px 2px 0 #a72d1183,
     1px -1px 0 black,
    5px  4px 0 #a72d1142,
     1px  1px 0 black;
}