.page {
  display: flex;
  flex-direction: column;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 0px;
  background-color: #1e0e0f;
}

.backCont{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  background-color: transparent;
  transform: rotate(-1deg);

}

.menuCont {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 500px;
  height: 700px;
  background-color: white;
}