.page {
  display: flex;
  flex-direction: column;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 0px;
  background-color: #1e0e0f;
}

.alignPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgHeader {
  margin-top: -80px;
}

.mainHeader {
  font-family: 'Calistoga', sans-serif;
  font-weight: 200; 
  font-size: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -590px;
  width: 100svw;
  height: 590px;
  background-color: rgba(255, 255, 255, 0.267);
  color: #6f1200;
  text-shadow:
      2px 2px 0 #ffffff,
      0px 0px 0 #af4c0f73,
      0px  0px 0 #e7360e00,
      0px  0px 0 #e7360e00;
  border: 6px solid white;
}

.subHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}