.footerMain {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  height: 140px;
  background-color: #452829;
}

.footerCont {
  background-color: transparent;
  width: 1700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerLeft {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.footerRight {
  display: flex;
  align-items: center;
  font-family: 'Calistoga';
  font-weight: 1000;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
  font-size: 20px;
  gap: 10px;
  background-color: transparent;
}

.footerRight img {
  width: 80px;
}

.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Calistoga';
  font-size: 20px;
  padding-right: 20px;
  font-weight: 500;
  /* Change Padding and Gap to make center Header Nav bigger or smaller */
  color: white;
  background-color: transparent;
}

.scheduleGap {
  font-family: 'Calistoga';
  font-size: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 20px;
}

.midLeft {
  font-family: 'Calistoga';
  font-size: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #452829;
}

.linkText {
  color: #fa7a71;
}

.yes {
  width: auto;
  background-color: wheat;
}

.fbLogo {
  width: 65px;
  background-color: green;
}