.headerMain {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background-color: #2516169d;
  z-index: 1000;
}

.headerLeft {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  background-color: transparent;
}

.headerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.267);
  font-size: 23px;
  background-color: transparent;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  /* Change Padding and Gap to make center Header Nav bigger or smaller */
  gap: 150px;
  padding-left: 20px;
  padding-right: 20px;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.993);
  background-color: transparent;
}