/* .heroImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100px;
  right: 10px;
}

.heroImage {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
} */


/* ***************** */


/* wrapper sits in the header, centred */
.heroImageWrapper2 {
  position: absolute;
  top: 100px;              /* tweak for your header height */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* fade & scale transitions */
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
}

.heroImageWrapper2.hidden {
  opacity: 0;
  transform: translateX(-50%) scale(1) translateY(-10px);
  pointer-events: none;     /* ignore clicks when hidden */
}

/* the round image */
.heroImage2 {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  z-index: 5;
}

.extraHeader {
  font-family: 'League Spartan', sans-serif;
  font-weight: 900;
  color: #a72c11;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.74);
  font-size: 50px;
  margin-top: -240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
  height: 140px;
  background-color: #2516169d;
}

.extraLeft {
  display: flex;
  background-color: transparent;
  margin-right: 0px;
}

.extraRight {
  display: flex;
  background-color: transparent;
  margin-right: 60px;
}

.scrollNowBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
  width: 100vw;
  height: 200px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #d66760;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.747);
  background-color: rgba(255, 255, 255, 0.212);
}

.dot1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 100px;
  margin-left: 40px;
}

.dot1 p {
  margin-top: -40px;
}

.dot2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 100px;
  margin-right: 30px;
}

.dot2 p {
  margin-top: -40px;
}